@model IEnumerable<YemekTarifi.Application.Features.Queries.ViewModels.RecipeViewModel>

<div class="row">
<div class="col-12">
<div class="card my-4">
<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
        <h6 class="text-white text-capitalize ps-3">Recipe table</h6>
    </div>
</div>
<div class="card-body px-0 pb-2">
<div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
        <a href="/admin/home/recipeAdd" class="btn btn-fill btn-warning float-end" style="margin-right: 2rem">Add Recipe</a>
        <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Recipe Name</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Star Count</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
            <th class="text-secondary opacity-7"></th>
            <th class="text-secondary opacity-7"></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var recipe in Model)
        {
            <tr>
                <td>
                    <div class="d-flex px-2 py-1">
                        <div>
                            <img src="@recipe.ImageUrl" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@recipe.Name</h6>
                            <p class="text-xs text-secondary mb-0">@recipe.Name</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0">@recipe.RecipeCategory.Name</p>
                    <p class="text-xs text-secondary mb-0">@recipe.RecipeCategory.Description</p>
                </td>
                <td class="align-middle text-center text-sm">
                    @if (recipe.IsActive)
                    {
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                    }
                    else
                    {
                        <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                    }
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">@recipe.CreatedDate.ToString("yy/MM/dd")</span>
                </td>
                <td class="align-middle">
                    <a href="/admin/home/recipeEdit/@recipe.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                    </a>
                </td>
                <td class="align-middle">
                    <a href="/admin/home/recipeDelete/@recipe.Id" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                        Delete
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>